PORT=5000
NODE_ENV=development
DATABASE_URL=postgresql://ronojobs_user:cv5RpcD2yv4zd1dT9ykrkzRtthZ2qltB@dpg-db33d98m7kps73ct2fkg-a.oregon-postgres.render.com/ronojobs
JWT_SECRET=ronojobs-dev-super-secret-key-2025
JWT_EXPIRES_IN=7d
FRONTEND_URL=*
